<div class="inner-bg">
    <div class="container">

            <div class="row" style="margin-top: -20px">
              <div class="col-sm-6 col-sm-offset-3">

                <div class="form-box">
                    <div class="form-top">
                      <div class="form-top-left">
                        <h3><strong>Slow down.</strong><br> Answer intentionally.<br>End your day with purpose. </h3>
                        <% if flash.has?(:message) %>
                          <p style="color:#f0ad4e;"><%= flash[:message] %> </p>
                        <% end %>
                      </div>
                      <div class="form-top-right">
                        <i class="fa fa-pencil"></i>
                      </div>
                    </div>

                  <div class="form-bottom">
                    <form  action="/logs" method="post" >

                      <div class="form-group">
                        <label class="sr-only" for="form-description">what GOOD happened today:</label>
                        <input type="text" name="description" placeholder="GOOD that happened today .." class="form-username form-control" id="form-description" >
                      </div>

                      <div class="form-group">
                        <label class="sr-only" for="form-amount">what did you ACCOMPLISH:</label>
                        <input type="text" name="amount" placeholder="ACCOMPLISHED today .." class="form-amount form-control" id="form-amount">
                      </div>

                      <div class="form-group">
                        <label class="sr-only" for="form-date">FIRST TASK to complete tomorrow:</label>
                        <input class="form-date" type="text" name="date"  placeholder="FIRST TASK to complete tomorrow .." value ="<%= Time.now.strftime('%F') %>" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" title="Enter a date in this formart YYYY-MM-DD"/>
                      </div>

                      <div class="form-group">
                        <h3><label  style="color: white; -webkit-font-smoothing: antialiased !important;" for="day">Create a new day</label></h3>
                        <h4 style="color: white; margin: 8px; padding: 2px;"> -or- select a previous date  </h4>
                        <select name="day_name" onchange="yesnoCheck(this);">
                              <% current_user.days_sort_by_name.each do |day| %>
                                <option  name="day_name"><%= day.name %></option>
                              <%end%>
                              <option value="new day">Create Day</option>
                        </select>
                      </div>

                      <div class="form-group" id="ifYes" style="display: none;">
                        <label class="sr-only" for="day">Add New Day</label>
                        <input type="text" id="create day" placeholder="Add day here..." name="no_name"/>
                      </div>


                        <button type="submit" class="btn btn-success">Create Log</button>
                    </form>

                  </div>
              </div>
            </div>
    </div>
</div>
